
*{
margin:0px;
padding: 0px;  
}
.App {
  text-align: center;
  width: 100%;
}
.rowbox{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  
}
input:focus{
 border: none;
}
.row{
  display: flex;
  align-items: center;
}
.prod img{
  width: 65px;
}
.absolute{
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 3;
}
.absolute button{
  border: none;
    background: white;
    font-size: 60px;
    padding: 15px;
    
}
.card{
  margin:5px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 80%;
  padding-top: 1%;
}
.card img{
  width: 100px;
  min-height: 100px;
}
.pp1
{
color: green ;
font-size: 16px;
}
.pp12{
  color: rgb(146, 146, 146);
  font-size: 15px;
}
.card p{
  margin:3px 0px;
}
.card h5
{
  margin-top: 5px;
}
.headhead{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.vall{
  background-color: #2874f0;
  border:none;
  border-radius: 2px;
  padding: 12px;
  color: white;
}
.crbox{
  display:flex;
  position: relative;
  animation:slideImage 30s infinite !important;
}

@keyframes slideImage{
  0%{
    left: 0%;
  }
  16%{
    left: 0%;
  }
  20%{
    left: -100%;
  }
  36%{
    left: -100%;
  }
  40%{
    left: -200%;
  }
  56%{
    left: -200%;
  }
  60%{
    left: -200%;
  }
  76%{
    left: -200%;
  }
  80%{
    left: -100%;
  }
  96%{
    left: -100%;
  }
  100%{
    left: 0%;
  } 
} 


.boxActive1{
  animation-timing-function: ease;
 display: block;
  animation: righttoleft1 5s 1;
}
.boxActive2{
  animation-timing-function: ease;
 display: block;
  animation: righttoleft2 5s 1;
}
.remove
{
  animation: lefttoright 5s 1;
}

@keyframes righttoleft {
  from {left:0%;}
  to {left: -100%;}
}
@keyframes righttoleft2 {
  from {left:-100%;}
  to {left: -200%;}
}




/* @keyframes lefttoright {
  from {left:0%;}
  to {left: 100%;}
} */
/* 

.slider{
  overflow: hidden;
  height: 250px;
}
.slider div{
  float: left;
  width: 20%;
}
.slider img{
  width: 100%;
  float: left;
}
.slider{
  position: relative;
  width: 500%;
  margin: 0px;
  left: 0;
  animation: 20s slideImage infinite;
} */